@{
    Layout = "_Layout";
    ViewData["Title"] = "Widget";
}

<label for="widget">Embed this HTML code to your page</label>

<textarea id="widget" name="widget" rows="1" cols="110">
<iframe src="http://bewogek903-001-site1.gtempurl.com/" title="description" width="420" height="500"></iframe>
</textarea>
